/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: 1px solid #511029; // для себя, потом удалю
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
  object-position: center;
  border-style: none;
}

picture,
source {
  display: contents;
}
