/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid #a01b4e; // для себя, потом удалю

  // outline: 5px solid rgba(255, 0, 0, 0.8);
  // outline-offset: -3px;

  // outline: 5px solid rgba(0, 255, 0, 0.8);
  // outline-offset: -5px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;

  min-width: 320px;
  min-height: 100%;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
