/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid #a01b4e; // для себя, потом удалю

  // outline: 5px solid rgba(255, 0, 0, 0.8);
  // outline-offset: -3px;

  // outline: 5px solid rgba(0, 255, 0, 0.8);
  // outline-offset: -5px;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: $accent-dark-grey;
  background-color: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
