/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid #511029; // для себя, потом удалю
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  font-family: $base-font-size;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
