@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    min-width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

@mixin a {
  display: inline-block;

  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

@mixin reset-list($margin: 0, $padding: 0, $list-style: none) {
  margin: $margin;
  padding: $padding;
  list-style: $list-style;
}

@mixin primary-button($color: $white, $bg-color: $primary) {
  display: inline-block;

  min-width: 280px;
  min-height: 40px;
  padding: 10px 0;

  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;

  color: $color;
  background-color: $bg-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease-in;

  &:hover,
  &:focus {
    $bg-color: $hover-green;
  }

  &:active {
    $bg-color: $hover-green;
    opacity: 0.3;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 14px 0;
  }
}

@mixin grey-button {
  @include primary-button;

  $color: $accent-dark-grey;
  $bg-color: $accent-light-grey;

  &:hover,
  &:focus {
    $bg-color: $extra-light-grey;
  }

  &:active {
    $color: $accent-dark-grey;
    $bg-color: $extra-light-grey;
    opacity: 0.3;
  }
}

@mixin pseudo-element($content: "", $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}
