@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin button {
  display: inline-block;

  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
  background-color: $primary;
  color: $white;
}
