@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin container {
  min-width: 280px;

  @media (min-width: $width-mobile) {
    width: auto;
    padding: 0 20px;
  }

  @media (min-width: $width-tablet) {
    width: auto;
    padding: 0 30px;
  }

  @media (max-width: $width-desktop) {
    width: auto;
    padding: 0 110px;
  }
}

@mixin center-element($d-f: flex, $j-c: center, $a-i: center) {
  display: $d-f;
  justify-content: $j-c;
  align-items: $a-i;
}

@mixin base-button($color: $black, $bg-color: $white) {
  display: inline-block;

  min-height: 40px;
  padding: 10px 0;

  color: $color;
  background-color: $bg-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in;

  @media (min-width: $width-tablet) {
    padding: 14px;
  }
}

@mixin reset-list($margin: 0, $padding: 0, $list-style: none) {
  margin: $margin;
  padding: $padding;
  list-style: $list-style;
}

@mixin pseudo-element($content: "", $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

@mixin v-center {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
