.primary-button {
  @include base-button;

  min-width: 280px;

  font-size: 16px;
  line-height: 20px;

  $bg-color: $primary;
  $color: $white;

  &:hover {
    background-color: $hover-green;
  }

  &:focus {
    background-color: $hover-green;
  }

  &:active {
    background-color: $hover-green;
    color: rgba($white, 0.3);
  }
}

.grey-button {
  @include base-button;

  min-width: 280px;

  font-size: 16px;
  line-height: 20px;

  $bg-color: $accent-light-grey;
  $color: $accent-dark-grey;

  &:hover {
    background-color: $extra-light-grey;
  }

  &:focus {
    background-color: $extra-light-grey;
  }

  &:active {
    background-color: $extra-light-grey;
    color: $accent-dark-grey;
  }
}
