.hero {
  min-height: 545px;
  min-width: 100%;

  color: $white;
  background-image: url("../../../images/index-page/cat-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
  }

  &__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 25px;

    font-family: $main-font;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;

    color: $white;
  }

  &__slogan {
    margin: 0;
    padding: 0;
    padding-bottom: 29px;

    font-family: $main-font;
    font-size: 14px;
    line-height: 14px;

    text-transform: uppercase;
    text-align: center;
    color: $white;
  }

  &__image {
    display: block;
  }

  &__button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 44px;

    cursor: pointer;
  }
}
