.main-header {
  &__navigation {
    @media (min-width: $width-tablet) {
      position: relative;

      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 20px;

      width: $width-tablet-content;
      margin: 0 auto;
      padding: 25px 0;
    }

    @media (min-width: $width-pre-desktop) {
      width: $width-desktop-content;
      padding: 54px 0 25px;
    }
  }

  &__navigation--index-page {
    @media (min-width: $width-pre-desktop) {
      display: grid;
      grid-template-columns: auto 50%;
      justify-content: space-between;
    }
  }

  &__hero {
    position: relative;
  }
}
