.main-header-logo {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 190px;
    max-height: 38px;

    background-color: transparent;
  }

  &__image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 33px;
    height: 38px;
  }

  &__image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 101px;
    height: 18px;
    margin-left: 56px;
    margin-right: 65px;
  }
}
