.main-navigation {
  display: flex;
  flex-direction: column;

  background-color: $white;
  z-index: 1;

  @media (max-width: $width-tablet) {
    position: absolute;

    width: 320px;
    margin-bottom: 2px;
  }

  @media (min-width: $width-tablet) {
    justify-content: center;
  }

  @media (min-width: $width-tablet) {
    background-color: transparent;
  }
}

.main-navigation--closed {
  @media (max-width: $width-tablet) {
    display: none;
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;

    max-width: 500px;
  }
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;

  border-top: 1px solid $extra-light-grey;

  @media (min-width: $width-tablet) {
    padding: 14px 0 12px;

    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $width-desktop) {
    padding: 16px 0 13px;

    font-size: 20px;
    line-height: 30px;

    a {
      color: $white;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__item--active {
  @media (min-width: $width-tablet) {
    position: relative;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 2px;
      background-color: $primary;
    }
  }
}

.main-navigation__list--light {
  .main-navigation__item--active {
    @media (min-width: $width-desktop) {
      &::after {
        background-color: $white;
      }
    }
  }
}

.main-navigation__link {
  text-decoration: none;
}
