.navigation {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-min-width) {
    .navigation {
      display: flex;
      flex-direction: row;

      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-min-width) {
    .navigation {
      display: flex;
      justify-content: space-between;

      width: 540px;
      margin: 0 auto;
    }
  }

  &__toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: $main-font;

    min-width: 24px;
    margin: 0;
    padding: 7px 0;

    border: none;
    background-color: transparent;
  }

  &__toggle--closed {
    width: 24px;
    height: 24px;

    border: none;
    background-color: $white;
    background-image: url("../icons/stack.svg#icon-menu-closed");
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }

  &__opened {
    display: flex;
    align-items: center;
  }

  &__opened:hover {
    opacity: 0.8;
  }

  &__list {
    min-height: 198px;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    min-width: 320px;
    padding-top: 22px;
    padding-bottom: 24px;

    text-align: center;
    border-bottom: 1px solid $specify-light-grey;
  }

  &__item:first-child {
    border-top: 1px solid $specify-light-grey;
  }

  &__link {
    display: block;

    font-family: $main-font;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    color: $black;
    text-decoration: none;
  }

  &__link:hover {
    opacity: 0.8;
  }

  &__link--current {
    text-underline-position: bottom 2px solid $primary;
  }

  &__link--current:hover {
    color: $primary;
    opacity: 0.8;
  }

  &__icon {
    background-image: url("../icons/stack.svg#icon-menu-closed.svg");
    background-size: 24px 24px;
  }

  // .block {
  //   background-image: image-set("some-image.png" 1x, "some-image-2x.png" 2x);
  // }

  // .navigation-icon {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   margin: auto;
  //   fill: #000000;
  // }
}
