.navigation {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 25px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 55px;
  }
}

.navigation__main-menu {
  position: fixed;
  top: 65px;
  left: 0;

  display: block;
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  // overflow: hidden;
  // box-shadow: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.navigation__main-menu a {
  display: block;

  background-color: $white;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.navigation__link {
  display: flex;

  @include reset-list;
}

.navigation__link--current {
  display: block;

  margin-bottom: 8px;

  border-bottom: 2px solid $primary;
}

