/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/global.scss";
@import "./common/animation.scss";
@import "./common/fonts.scss";

/* BLOCKS */
//Общие блоки
@import "./blocks/common-blocks/visually-hidden.scss";
@import "./blocks/common-blocks/page.scss";
@import "./blocks/common-blocks/button.scss";

//Шапка
@import "./blocks/header/main-header.scss";
@import "./blocks/header/main-nav.scss";
@import "./blocks/header/site-list.scss";
@import "./blocks/header/hero.scss";

//Главная страница
@import "./blocks/main-index/main-index.scss";
@import "./blocks/main-index/programs.scss";
@import "./blocks/main-index/reasons.scss";
@import "./blocks/main-index/stats.scss";

//Страница каталога
@import "./blocks/main-inner/main-inner.scss";
@import "./blocks/main-inner/catalog-container.scss";
@import "./blocks/main-inner/catalog.scss";
@import "./blocks/main-inner/card-list.scss";
@import "./blocks/main-inner/card-item.scss";
@import "./blocks/main-inner/card.scss";
@import "./blocks/main-inner/products.scss";
@import "./blocks/main-inner/product.scss";
@import "./blocks/main-inner/addition.scss";
@import "./blocks/main-inner/gift.scss";
@import "./blocks/main-inner/promotions.scss";

//Подвал
@import "./blocks/footer/main-footer.scss";
@import "./blocks/footer/map.scss";
@import "./blocks/footer/address.scss";
@import "./blocks/footer/channels.scss";
