.addition {
  &__title {
    margin: 0;

    font-family: $main-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;

    text-align: center;
    color: $dark-grey;
  }

  // &__products {
  // }

  // &__gift {
  // }

  // &__gift--present {
  // }

  // &__text {
  // }
}
