.reasons__wrapper {
  padding: 0 20px 49px;

  @media (min-width: $width-tablet) {
    padding: 45px 30px 47px;

    border-bottom: 1px solid $extra-light-grey;
  }

  @media (min-width: $width-desktop) {
    padding: 71px 110px 69px;

    border: none;
  }
}

.reasons__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $width-tablet) {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.reasons__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style-type: none;
  color: $accent-dark-grey;

  @media (min-width: $width-tablet) {
    flex-flow: row wrap;
    gap: 37px 137px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    column-gap: 77px;
  }
}

.reasons__item {
  position: relative;

  min-height: 60px;

  @media (min-width: $width-tablet) {
    flex-basis: 35%;

    counter-increment: chapter 1;

    &::before {
      content: counter(chapter);
      position: absolute;
      left: 114px;
      bottom: 0;

      font-family: $main-font;
      font-size: 280px;
      line-height: 280px;
      color: $accent-light-grey;

      z-index: -1;
    }
  }

  @media (min-width: $width-desktop) {
    flex-basis: 20%;
  }
}

.reasons__item-text {
  margin: 1px 0 0 80px;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $primary;

    @media (min-width: $width-tablet) {
      left: 0;
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $width-desktop) {
    min-height: 280px;
    margin: 0;
    padding: 151px 0 57px;
  }
}

.reasons__item-text--leaf::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;

  width: 30px;
  height: 32px;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 65px;
    left: 24px;
  }
}

.reasons__item-text--powder::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 18px;

  width: 26px;
  height: 29px;

  background-image: url("../../icons/stack.svg#icon-powder");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 66px;
    left: 27px;
  }
}

.reasons__item-text--food::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;

  width: 25px;
  height: 30px;

  background-image: url("../../icons/stack.svg#icon-food");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 64px;
    left: 27px;
  }
}

.reasons__item-text--time::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;

  width: 26px;
  height: 31px;

  background-image: url("../../icons/stack.svg#icon-time");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 64px;
    left: 27px;
  }
}
