.stats {
  // &__wrapper {
  // }

  &__title {
    font-family: $main-font;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }

  &__description {
    font-family: $accent-dark-grey;
  }

  // &__module {
  // }

  &__meaning {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;
  }

  &__number {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;
  }

  &__text {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;

    text-transform: uppercase;
  }

  &__action {
    font-size: 12px;
    line-height: 12px;
  }

  &__costs {
    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;
  }

  &__price {
    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;
  }

  // &__slider {
  // }

  // &__image-before {
  // }

  // &__image-after {
  // }

  // &__range-bar {
  // }

  // &__range-toggle {
  // }
}
