.card-item {
  &__link {
    text-decoration: none;
  }

  &__image {
    text-align: center;
    order: -1;
  }

  &__subtitle {
    margin: 0;

    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    color: $accent-dark-grey;
    text-transform: uppercase;
  }

  &__content {
    text-align: center;
  }

  &__order {
    @include secondary-button;

    padding: 10px 109px;
  }

  &__text {
    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;
  }

  &__slogan {
    font-size: 12px;
    line-height: 16px;

    text-align: center;
  }
}
