.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 40px;

  font-size: 16px;
  line-height: 20px;
  font-family: $main-font;

  text-transform: uppercase;
  text-decoration: none;
  border: none;
}


@media (min-width: $tablet-min-width) {
  .button {
    min-height: 54px;

    font-size: 20px;
    line-height: 26px;
  }
}
