.button {
  @include button;

  &:hover,
  &:focus {
    background-color: $hover-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--green {
  position: relative;

  @include primary-button;
  padding: 10px 0;
}

.button--gray {
  position: relative;

  @include accent-button;
  padding: 10px 0;
}

.button-padding {
  @include button;
  padding: 14px 0;
}
