.hero {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 302px;

    color: $white;
    background-color: $primary-fon;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient($primary-fon, $primary-fon), url("../../images/index-page/cat-mobile@1x.jpg, ../../cat-mobile@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($primary-fon, $primary-fon), url("../../images/index-page/cat-mobile@2x.jpg, ../../cat-mobile@2x.webp");
    }

    z-index: -1;

    @media (min-width: $width-tablet) {
      height: 694px;

      visibility: hidden;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  @media (min-width: $width-tablet) {
    align-items: stretch;

    margin-top: 65px;
  }

  @media (min-width: $width-desktop) {
    min-height: 694px;
    margin: 0;
  }
}

.hero__intro {
  width: 320px;
  height: 72px;
  margin-top: 27px 0 25px;

  font-family: $main-font;
  font-size: 36px;
  line-height: 36px;

  color: $white;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 420px;
    height: 120px;
    margin: 0 0 40px 90px;

    font-size: 60px;
    line-height: 60px;

    color: $black;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    margin-top: 110px;
  }
}

.hero__slogan {
  width: 320px;
  height: 14px;
  margin: 0  0 29px 90px;

  font-family: $main-font;
  line-height: 14px;

  color: $white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 283px;
    height: 20px;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;

    color: $black;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 52px;
  }
}

.hero__button {
  @include button;

  width: 280px;
  height: 40px;
  padding: 10px 44px;

  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;

  order: 4;

  @media (min-width: $width-tablet) {
    width: 244px;
    height: 54px;
    margin-left: 90px;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 26px;

    order: 0;
    z-index: 1;
  }
}

.hero__image {
  display: block;

  margin: 0 auto;
  margin-bottom: 3px;

  z-index: -1;

  @media (min-width: $width-tablet) {
    margin-top: -87px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    left: 557px;

    margin: 0;
    margin-top: -352px;
  }
}
