.main-header {
  background-color: $white;
}

.main-header__wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $width-tablet) {
    position: relative;

    min-width: 320px;
    margin: 0 auto;
    margin-left: auto;
    padding-top: 13px;
    padding-bottom: 14px;
  }

  @media (min-width: $width-tablet) {
    min-width: 768px;
    padding-top: 25px;
  }

  @media (min-width: $width-desktop) {
    min-width: 1440px;
    padding-top: 55px;
  }
}

.main-header__wrapper--index {
  position: relative;

  @media (min-width: $width-desktop) {
    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
      height: 694px;
      margin: 0;
      margin-bottom: 82px;

      color: $white;
      background-color: $primary-fon;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient($primary-fon, $primary-fon), url("../../images/index-page/cat-desktop@1x.jpg, ../../cat-desktop@1x.webp");

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($primary-fon, $primary-fon), url("../../images/index-page/cat-desktop@2x.jpg, ../../cat-desktop@2x.webp");
      }

      z-index: -1;
    }
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;

  width: 190px;
  height: 65px;

  &__logo:hover {
    opacity: 0.8;
  }

  &__logo:focus {
    opacity: 0.8;
  }

  &__logo:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  width: 33px;
  height: 38px;
}

.main-header__logo-text {
  width: 101px;
  height: 18px;

  color: $extra-dark-grey;
}

@media (min-width: $width-tablet) {
  .main-header__logo {
    gap: 13px;

    width: 174px;
    height: 50px;
  }

  .main-header__logo-image {
    width: 60px;
    height: 50px;
  }

  .main-header__logo-text {
    color: $accent-dark-grey;
  }
}

@media (min-width: $width-desktop) {
  .main-header__logo {
    gap: 14px;

    width: 202px;
    height: 55px;
  }

  .main-header__logo-image {
    width: 70px;
    height: 59px;
  }

  .main-header__logo-text {
    width: 118px;
    height: 21px;
  }
}

.main-header__list {
  position: absolute;
  top: 65px;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;

  z-index: 3;
}

.main-header__item {
  list-style-type: none;
  text-align: center;
}

.main-header__link {
  display: block;

  padding: 22px 0 24px;

  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;

  color: $black;
  background-color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid $extra-light-grey;
}

.main-header__item:first-child .main-header__link {
  border-top: 1px solid $extra-light-grey;
}

.main-header__toggle {
  position: absolute;
  top: 20px;
  right: 1px;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: $white;
  border: none;
  z-index: 2;
}

@media (min-width: $width-tablet) {
  .main-header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 436px;
  }

  .main-header__toggle {
    display: none;

    background-color: transparent;
  }


  .main-header__link {
    font-size: 18px;
    line-height: 24px;

    text-decoration: none;
  }
}

@media (min-width: $width-tablet) {
  .main-header__navigation {
    position: relative;

    min-height: 36px;
  }

  .main-header__list {
    position: absolute;
    top: 20%;

    z-index: 2;
  }

  .main-header__link {
    color: $black;
  }
}
