.main-header {
  background-color: $white;
}

.main-header__wrapper {
  display: grid;
  grid-template-columns: 33px 101px 24px;
  justify-content: space-between;


  width: 320px;
  margin: 0 auto;
  margin-left: auto;
  padding: 0 20px;

  @media (min-width: $width-tablet) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    width: 1440px;
    padding: 0 110px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;

  width: 190px;
  height: 65px;
}

.main-header__logo-image {
  width: 33px;
  height: 38px;
}

.main-header__logo-text {
  width: 101px;
  height: 18px;
}

@media (min-width: $width-tablet) {
  .main-header__logo {
    gap: 13px;

    width: 174px;
    height: 50px;
  }

  .main-header__logo-image {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: $width-desktop) {
  .main-header__logo {
    gap: 14px;

    width: 202px;
    height: 55px;
  }

  .main-header__logo-image {
    width: 60px;
    height: 50px;
  }

  .main-header__logo-text {
    width: 118px;
    height: 21px;
  }
}

.main-header__list {
  display: none;

  margin: 0;
  padding: 0;
}

.main-header__item {
  list-style-type: none;
  text-align: center;
}

.main-header__link {
  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;

  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .main-header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 436px;
  }

  .main-header__toggle {
    display: none;

    background-color: transparent;
  }


  .main-header__link {
    font-size: 18px;
    line-height: 24px;

    text-decoration: none;
  }
}

@media (min-width: $width-tablet) {
  .main-header__navigation {
    position: relative;

    min-height: 36px;
  }

  .main-header__list {
    position: absolute;
    top: 20%;

    z-index: 2;
  }

  .main-header__link {
    color: $black;
  }
}

