.page {
  height: 100%;

  &__body {
    min-width: 320px;
    min-height: 100%;
    margin: 0;
    padding: 0;

    font-family: $base-font-size;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    color: $black;
    background-color: $white;
  }

  &__headline {
    font-family: $main-font;
    font-size: 60px;
    line-height: 60px;

    text-align: left;
  }
}
