.page {
  min-width: 320px;
  height: 100%;

  &__body {
    position: relative;
  }

  &__headline {
    font-family: $main-font;
    font-size: 36px;
    line-height: 36px;

    text-align: left;

    @media (min-width: $width-tablet) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__container {
    @include container;

    position: relative;

    min-height: 100%;

    @media (min-width: $width-mobile) {
      width: 0 auto;
    }

    @media (min-width: $width-tablet) {
      width: 320px;
      margin: auto;
    }

    @media (min-width: $width-desktop) {
      width: 1440px;
    }
  }
}
