.page {
  min-width: 320px;
  height: 100%;

  &__body {
    min-height: 100%;
    margin: 0;

    background-color: $white;
  }

  &__headline {
    font-family: $main-font;
    font-size: 36px;
    line-height: 36px;

    text-align: left;

    @media (min-width: $width-tablet) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__wrapper {
    position: relative;

    width: 320px;
    min-height: 100%;
    margin: 0 auto;

    @media (min-width: $width-tablet) {
      width: 768px;
    }

    @media (min-width: $width-desktop) {
      width: 1440px;
    }
  }
}
