.main-footer {
  position: relative;
  top: 0;
  left: 0;

  background-color: $accent-light-grey;
  z-index: 1;

  @media (min-width: $width-mobile) {
    min-width: 320px;
    min-height: 714px;
  }

  @media (min-width: $width-tablet) {
    min-width: 768px;
    min-height: 547px;
  }

  @media (min-width: $width-desktop) {
    min-width: 1440px;
    min-height: 569px;
  }
}

.main-footer__channels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
